<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://aqi.cornerbistrochiangmai.com/assets/css/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://aqi.cornerbistrochiangmai.com/requests.js"></script>
  </head>

  <body>
    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <img src="https://aqi.cornerbistrochiangmai.com/cornerbistro.jpg" alt="Corner Bistro" width="250" height="250" />
        </a>
        <h2>{{ site.description | default: "Corner Bistro AQI list" }}</h2>

      </div>
    </header>

    <div class="container">
      <section id="main_content">
        <script>
          check_aqi_cb((callback) => {
            console.log(callback);
          });
          check_aqi_outside((callback) => {
            console.log(callback);
          })
        </script>
        <div id="aqiresult">
        </div>
        <div id="outsideaqi">
        </div>
        {{ content }}
      </section>
    </div>
  </body>
</html>
